In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
total_schools=school_data['school_name'].count()

In [3]:
student_count=student_data['student_name'].count()

In [4]:
total_budget=school_data['budget'].sum()

In [5]:
average_math=student_data['math_score'].mean()

In [6]:
average_reading=student_data['reading_score'].mean()

In [7]:
overall_passing=(student_data['reading_score'].mean()+student_data['math_score'].mean())/2

In [8]:
count=student_data.loc[student_data['reading_score']>=70].count()/student_data['student_name'].count()
reading_passing=count['student_name']

In [9]:
count=student_data.loc[student_data['math_score']>=70].count()/student_data['student_name'].count()
math_passing=count['student_name']

In [11]:
district_summary=pd.DataFrame({'Total Schools':[total_schools],
                               'Total Students':[student_count],
                               'Total Budget':[total_budget],
                               'Average Math Score':[average_math],
                               'Average Reading Score':[average_reading],
                              '% Passing Math':[math_passing],
                              '% Passing Reading':[reading_passing],
                              '% Overall Passing Rate': [overall_passing]})
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606