In [122]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [123]:
total_schools=school_data['school_name'].count()

In [124]:
student_count=student_data['student_name'].count()

In [125]:
total_budget=school_data['budget'].sum()

In [126]:
average_math=student_data['math_score'].mean()

In [127]:
average_reading=student_data['reading_score'].mean()

In [128]:
overall_passing=(student_data['reading_score'].mean()+student_data['math_score'].mean())/2

In [129]:
count=student_data.loc[student_data['reading_score']>=70].count()/student_data['student_name'].count()
reading_passing=count['student_name']

In [130]:
count=student_data.loc[student_data['math_score']>=70].count()/student_data['student_name'].count()
math_passing=count['student_name']

In [131]:
district_summary=pd.DataFrame({'Total Schools':[total_schools],
                               'Total Students':[student_count],
                               'Total Budget':[total_budget],
                               'Average Math Score':[average_math],
                               'Average Reading Score':[average_reading],
                              '% Passing Math':[math_passing],
                              '% Passing Reading':[reading_passing],
                              '% Overall Passing Rate': [overall_passing]})
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [132]:
schools=school_data['school_name']

In [133]:
school_type=school_data['type']

In [134]:
school_size=school_data['size']

In [135]:
total_school_budget=school_data.groupby(['School ID']).sum()["budget"]

In [136]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [137]:
per_student_budget=school_data["budget"]/(school_data["size"])

In [138]:
average_math_score=school_data_complete.groupby(['School ID']).mean()["math_score"]

In [139]:
average_reading_score=school_data_complete.groupby(['School ID']).mean()["reading_score"]

In [161]:
math_summary=school_data_complete.loc[school_data_complete['math_score'] >=70,:]
math_passing_school=math_summary.groupby(['School ID']).mean()["math_score"]

In [174]:
reading_summary=school_data_complete.loc[school_data_complete['reading_score'] >=70,:]

School ID
0     84.691400
1     84.767745
2     84.362559
3     84.483725
4     84.253156
5     84.526770
6     84.432612
7     84.362521
8     84.391727
9     84.680390
10    84.479586
11    84.374377
12    84.430566
13    84.612799
14    84.259585
Name: reading_score, dtype: float64

In [ ]:
math_passing_school+reading_passing_school

In [176]:
school_summary=pd.DataFrame({'School Type':school_type,
                               'Total Students':school_size,
                               'Total School Budget':total_school_budget,
                               'Per Student Budget': per_student_budget,
                               'Average Math Score':average_math_score,
                               'Average Reading Score':average_reading_score,
                               '% Passing Math':math_passing_school,
                               '% Passing Reading':reading_passing_school,
#                                '% Overall Passing Rate': [overall_passing] 
                            })
school_summary=school_summary.set_index(schools)
                            
school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
school_name,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,84.240084,84.691400
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,84.310894,84.767745
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,84.326679,84.362559
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,84.936975,84.483725
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,84.394602,84.253156

In [143]:
ninth_grade=student_data.loc[student_data['grade']=='9th']
ninth_grade=ninth_grade.groupby('school_name').mean()['math_score']

In [144]:
tenth_grade=student_data.loc[student_data['grade']=='10th']
tenth_grade=tenth_grade.groupby('school_name').mean()['math_score']

In [145]:
eleventh_grade=student_data.loc[student_data['grade']=='11th']
eleventh_grade=eleventh_grade.groupby('school_name').mean()['math_score']

In [146]:
twelvth_grade=student_data.loc[student_data['grade']=='12th']
twelvth_grade=twelvth_grade.groupby('school_name').mean()['math_score']

In [147]:
math_scoresby_grade=pd.DataFrame({'9th': ninth_grade,
                                  '10th': tenth_grade,
                                  '11th': eleventh_grade,
                                  '12th': twelvth_grade })

In [148]:
ninth_grade=student_data.loc[student_data['grade']=='9th']
ninth_grade=ninth_grade.groupby('school_name').mean()['reading_score']

In [149]:
tenth_grade=student_data.loc[student_data['grade']=='10th']
tenth_grade=tenth_grade.groupby('school_name').mean()['reading_score']

In [150]:
eleventh_grade=student_data.loc[student_data['grade']=='11th']
eleventh_grade=eleventh_grade.groupby('school_name').mean()['reading_score']

In [151]:
twelvth_grade=student_data.loc[student_data['grade']=='12th']
twelvth_grade=twelvth_grade.groupby('school_name').mean()['reading_score']

In [152]:
reading_scoresby_grade=pd.DataFrame({'9th': ninth_grade,
                                  '10th': tenth_grade,
                                  '11th': eleventh_grade,
                                  '12th': twelvth_grade })

In [153]:
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [154]:
pd.cut(school_summary["Per Student Budget"],spending_bins,labels=group_names).head(15)
# school_summary=school_summary.groupby("Spending Ranges (Per Student)")
school_summary["Spending Ranges (Per Student)"]=pd.cut(school_summary["Per Student Budget"],spending_bins,labels=group_names)
school_summary_updated=school_summary.groupby("Spending Ranges (Per Student)")
school_summary_updated[["Average Math Score","Average Reading Score"]].mean()

                               Average Math Score  Average Reading Score
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-615                                83.599686              83.885211
$615-645                                79.079225              81.891436
$645-675                                76.997210              81.027843

In [155]:
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [156]:
pd.cut(school_summary["Total Students"],size_bins,labels=group_names)
school_summary["School Size"]=pd.cut(school_summary["Total Students"],size_bins,labels=group_names)
school_summary_updated=school_summary.groupby("School Size")
school_summary_updated[["Average Math Score","Average Reading Score"]].mean()

                    Average Math Score  Average Reading Score
School Size
Small (<1000)                83.821598              83.929843
Medium (1000-2000)           83.374684              83.864438
Large (2000-5000)            77.746417              81.344493